
snippet important "Set important headers" b
Disposition-Notification-To: Tino Kiviharju <tino.kiviharju@gmail.com>
Return-Receipt-To: Tino Kiviharju <tino.kiviharju@gmail.com>
Priority: urgent
Importance: High
Precedence: high
Sensitivity: Company-Confidential
X-MSMail-Priority: High
X-Priority: 1
endsnippet
